# Dependencies
node_modules/
.pnpm-store/

# Build
.next/
out/
target/
*.wasm

# Env
.env
.env.local
.env.production
infra/.env
infra/.env.local
infra/.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Stellar
.soroban/
.stellar/

# Tools
.mi-lsp/

# Deploy secrets
.testnet-deploy.env

# Misc
*.log
